<div id="startMissionDialog_dialog" class="initially-hidden">
  Start the mission: <select id="startMissionDialog_mission"></select> <br /> <br />
  <input type="button" value="Create action" id="startMissionDialog_createButton"/>
</div>

<div id="playAudioDialog_dialog" class="initially-hidden">
  <div id="playAudioDialog_fileTree" ></div> <br /> <br />
  <input type="button" value="Create action" id="playAudioDialog_createButton"/>
</div>

<div id="setVariableDialog_dialog" class="initially-hidden">
  Variable: <input type="text" id="setVariableDialog_variable" /> <br />
  New value: <input type="text" id="setVariableDialog_value" /> <br />
  <input type="button" value="Create action" id="setVariableDialog_createButton"/>
</div>

<div id="incrementVariableDialog_dialog" class="initially-hidden">
  Variable: <input type="text" id="incrementVariableDialog_variable" /> <br />
  <input type="button" value="Create action" id="incrementVariableDialog_createButton"/>
</div>

<div id="decrementVariableDialog_dialog" class="initially-hidden">
  Variable: <input type="text" id="decrementVariableDialog_variable" /> <br />
  <input type="button" value="Create action" id="decrementVariableDialog_createButton"/>
</div>

<div id="showMessageDialog_dialog" class="initially-hidden">
  Message: <input type="text" id="showMessageDialog_message" /> <br />
  <input type="button" value="Create action" id="showMessageDialog_createButton"/>
</div>

<div id="setHotspotVisibilityDialog_dialog" class="initially-hidden">
  Set the hotspot
  <select id="setHotspotVisibilityDialog_hotspot"></select>
  <select id="setHotspotVisibilityDialog_visible">
    <option value="true">visible</option>
    <option value="false">invisible</option>
  </select>

  <br /> <br />
  <input type="button" value="Create action" id="setHotspotVisibilityDialog_createButton"/>
</div>


<div id="rule_description" class="initially-hidden">
  <b>Condition:</b><br />
  <input title="Conditions are written as logical expressions.<br/> 
                Examples:<br />
                <ul>
                <li>'X=4' => The variable X should have the value 4.</li>
                <li>'(X = 4) AND (Y < 4)' => The variable X should be 4 and Y should be lesser than 4.</li>
                <li>'IsFailed(m5)' => The mission with ID m5 has to be failed.
                (Also: IsSuccess, IsNew and IsRuning).</li>
                <li>'Not(x = 4)' => The variable x should not be 4</li>
                </ul>"
         type="text" size="40" id="rule_condition" />
  <br />
  <br />
  <b>Actions:</b>
  <br />
  <ul id="rule_actions">
    <li id="rule_addActionListEntry">
     <select id="rule_addActionType">
        <option value="StartMission">Start a mission</option>
        <option value="Vibrate"> Let the phone vibrate</option>
        <option value="PlayAudio">Play an audio file</option>
        <option value="ShowMessage">Show a message</option>
        <option value="DecrementVariable">Decrease a variable by one</option>
        <option value="IncrementVariable"> Increase a variable by one</option>
        <option value="SetVariable">Set a variable to a value</option>
        <option value="SetHotspotVisibility">Set the visibility of a hotspot</option>
        <option value="EndGame">End the game</option>
     </select>
     <a href="#" id="rule_addAction">add action</a>
    </li>
  </ul>
</div>