<div id="startMissionDialog_dialog" class="initially-hidden">
  Start the mission: <select id="startMissionDialog_mission"></select> <br /> <br />
  <input type="button" value="Create action" id="startMissionDialog_createButton"/>
</div>

<div id="rule_description" class="initially-hidden">
  <b>Condition:</b><br />
  <input title="Conditions are written as logical expressions.<br/> 
                Examples:<br />
                <ul>
                <li>'X=4' => The variable X should have the value 4.</li>
                <li>'(X = 4) AND (Y < 4)' => The variable X should be 4 and Y should be lesser than 4.</li>
                <li>'IsFailed(m5)' => The mission with ID m5 has to be failed.
                (Also: IsSuccess, IsNew and IsRuning).</li>
                <li>'Not(x = 4)' => The variable x should not be 4</li>
                </ul>"
         type="text" size="40" id="rule_condition" />
  <br />
  <br />
  <b>Actions:</b>
  <br />
  <ul id="rule_actions">
    <li id="rule_addActionListEntry">
     <select id="rule_addActionType">
        <option value="StartMission">Start a mission</option>
        <option value="Vibrate"> Let the phone vibrate</option>
        <option value="PlayAudio">Play an audio file</option>
        <option value="ShowMessage">Show a message</option>
        <option value="DecrementVariable">Decrease a variable by one</option>
        <option value="IncrementVariable"> Increase a variable by one</option>
        <option value="SetVariable">Set a variable to a value</option>
        <option value="SetHotspotVisibility">Set the visibility of a hotspot</option>
        <option value="EndGame">End the game</option>
     </select>
     <a href="#" id="rule_addAction">add action</a>
    </li>
  </ul>
</div>