

#audioFileTree {
    max-width: 200pt;
    height: 200pt;
    overflow: auto;
    display: inline-block;
}

#allProjectsAudioFileTree {
    display: inline-block;
}

#audioPreviewContainer {
    position: absolute;
    left : 220pt;
    top : 60pt;
}

#audioActions {
    position: absolute;
    top: 260pt;
}