#imageFileTree {
    max-width: 200pt;
    height: 200pt;
    overflow: auto;
    display: inline-block;
}

#allProjectsImageFileTree {
    display: inline-block;
}

#imagePreviewContainer {
    position: absolute;
    left : 220pt;
    top : 60pt;
}

#imagePreview {
    max-height: 200pt;

}

#imageActions {
    position: absolute;
    top: 260pt;
}