#listRulesDialog_rulesTree {
    position: absolute;
    left: 0pt;
    top: 20pt;
    height: 100%;
    width: 150pt;
}

.graph-label {
    background-color: white;
    border: black solid 2pt;
}

#listRulesDialog_rulesContainer {
    position: absolute;
    left: 150pt;
    top: 20pt;
    right: 0pt;
    height: 100%;
}

.mission-box {
  display: table-cell;
  position: absolute;
  border: solid;
  background-color: white;
  padding: 5pt;
  min-width: 30pt;
  max-width: 200pt;
  min-height: 20pt;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 7pt;
  -moz-border-radius: 7pt;
  border-radius: 7pt;
  z-index: 20;
}

.hotspot-box {
  display: table-cell;
  position: absolute;
  background-color: chartreuse;
  border: solid;
  padding: 5pt;
  min-width: 30pt;
  max-width: 200pt;
  min-height: 20pt;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 7pt;
  -moz-border-radius: 7pt;
  border-radius: 7pt;
  z-index: 20;
}