.title-as-tooltip {
    
}

.edit {
    display: inline-block;
}

.failure {
    color : red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}


.header {
    position: absolute;
    top: 10pt;
    left: 10pt;
}

#leftFoldIn {
    position: absolute;
    bottom: 10pt;
    left: 10pt;
    cursor: pointer;
}

#rightFoldIn {
    position: absolute;
    bottom: 10pt;
    right: 10pt;
    cursor: pointer;
}


.content {
    position: absolute;
    vertical-align: top;
    margin-left: 0pt; /* to the left side, cmp #navigation */
    margin-right: 0pt;
    right: 210pt;
    left: 210pt;
    top: 80pt;
}

/**
 Right Navigation bar
 */
#control {
    /* Position */
    position: absolute;
    right: 10pt;
    top : 80pt;
    width: 150pt;
    min-height: 450pt;
    padding: 20pt;
    z-index: 100;

    /* Layout */
    border-style: solid;
    border-width: 1pt;
    background-color: #AECDE6;
    -webkit-border-radius: 5pt;
    -moz-border-radius: 5pt;
    border-radius: 5pt;
    white-space: nowrap;
    overflow: hidden;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #DBEFFF;
}

#caption {
    text-decoration: none;
    margin-left: 10px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #2E4D66;
    font-weight: 100;

}

#navigation {
    /* Position */
    position: absolute;
    left: 10pt;
    top: 80pt;
    width: 150pt;
    height: 450pt;
    padding: 20pt;
    z-index: 100;

    /* Layout */
    border-style: solid;
    border-width: 1pt;
    background-color: #AECDE6;
    -webkit-border-radius: 5pt;
    -moz-border-radius: 5pt;
    border-radius: 5pt;
    white-space: nowrap;
    overflow: hidden;
}

.editor_link {
    text-decoration: none;
    color: black;
    font-size: 11pt;
}

.editor_link:hover {
    text-decoration: underline;
    color: black;
    font-size: 11pt;
}

.navigation_link {
    text-decoration: none;
    color: black;
    font-size: 11pt;
}

.navigation_link:hover {
    text-decoration: underline;
    color: black;
    font-size: 11pt;
}

.label {
    float: left;
    padding-right: 8pt;
}

.editor_link {
    text-decoration: none;
    color: black;
    font-size: 11pt;
}

.editor_link:hover {
    text-decoration: underline;
    color: black;
    font-size: 11pt;
}


.initially-hidden {
    display: none;
}

.hidden {
    display: none;
}