.content {
    vertical-align: top;
    margin-left: 220pt; /* to the left side, cmp #navigation */
    margin-right: 190pt;
    margin-top: 40pt;
    width: auto;

}

#control {
    position: absolute;
    right: 20pt;
    top : 120pt;
    border-style: dotted;
    width: 150pt;
    height: 450pt;
}

body {
  padding: 0px;
  margin: 0px;
}

#caption {
    height: 120pt;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

#navigation {
    position: absolute;
    left: 20pt;
    top: 120pt;
    border-style: dotted;
    width: 180pt;
    height: 450pt;
}

.navigation_link {
    text-decoration: none;
    color: black;
    font-size: 11pt;
}

.navigation_link:hover {
    text-decoration: underline;
    color: black;
    font-size: 11pt;
}


.editor_link {
    text-decoration: none;
    color: black;
    font-size: 11pt;
}

.editor_link:hover {
    text-decoration: underline;
    color: black;
    font-size: 11pt;
}

.npcTalkSpeakerCell {
    vertical-align: top;
}

.npcTalkCell {
    font-size: 10pt;
    border-bottom-width: 1pt;
    border-bottom-style: solid;
}

.answerCell {
        font-size: 10pt;
    border-bottom-width: 1pt;
    border-bottom-style: solid;
}

