div.repository {
    /* Position */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50pt;
    padding: 20pt;
    width: 300pt;

    /* Layout */
    border-style: solid;
    border-width: 1pt;
    background-color: #85B2D6;
    -webkit-border-radius: 5pt;
    -moz-border-radius: 5pt;
    border-radius: 5pt;

}