<%= stylesheet_link_tag 'register' %>

<h1 id="register-caption">GeoQuest Editor</h1>

<div class="register-field">
<h4>New user</h4>

<%= render 'form' %>

<br />
<%= link_to 'Back', login_path, :class => "editor_link" %>
</div>