<div class="hiddenDiv" id="imagePopupDiv">
  <div class="popup">
    <div class="popup-header">
      <h2>Select image</h2>
      <a href="javascript:;" onclick="$.closePopupLayer('imagePopup')" title="Close" class="close-link">Close</a>
      <br clear="all" />
    </div>

    <div class="popup-body">
    </div>
  </div>
</div>