<%= javascript_include_tag 'jquery/jquery.jstree' %>
<%= javascript_include_tag 'shared/mission_list' %>
<%= javascript_include_tag "commands/command" %>
<%= javascript_include_tag "commands/missions" %>

<div id="navigation">
  <h5> Mission Navigation </h5>



  <% unless @project.nil? or @project.new_record? %>

   <div id="missionTree">
   </div>

  <% else %>

  No project selected

  <% end %>




</div>
