<ul>

<% @missions.each do |mission| %>

 <li>
   <%= link_to mission.attributes['id'], project_mission_path(@project.id, mission.attributes['id']), :class => 'navigation_link' %>
  <ul
   <% REXML::XPath.match(mission, './/mission').each do |submission| %>
    <li>
    <%= link_to submission.attributes['id'], project_mission_path(@project.id, submission.attributes['id']), :class => 'navigation_link' %>
   </li>
  <%  end     %>
  </ul>
</li>
<% end  %>
</ul>