<div class="header">
<h1>
  Project overview
</h1>
</div>
<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<div class="content">
<%= notice %>

<ul>

<% @projects.each do |project| %>
  <li> <%= link_to project.name, project, :class => 'editor_link' %> </li>
<% end  %>

</ul>
</div>
