<%= notice %>

<%= link_to "Logout", logout_path  %> <br />
<%= link_to "Create new Project", :controller => :projects, :action => :new  %> <br />

<b> Your Projects: </b>

<ul>

<% @projects.each do |project| %>
  <li> <%= link_to project.name, project %> </li>
<% end  %>

</ul>
