<div class="header">
<h1 id="caption">
  New project
</h1>
</div>
<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<div class="content">
<%= render 'form' %>

</div>


