<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<div class="content">
   Projekt informationen...
</div>

<script>
var project_id = "<%= @project.id %>";
</script>
