<%= render 'shared/header' %>

<table>
  <tr>
    <td id="navigation">
    <%= render 'shared/mission_list' %>
      <br />
      <br />
    <% link_to "back", projects_path %>
    </td>

    <td id="content">
      Projekt informationen...
    </td>

  </tr>

</table>


