
<table>
  <tr>
    <td id="navigation">
    <%= render 'mission_list' %>
      <br />
      <br />
    <% link_to "back", projects_path %>
    </td>

    <td id="content">
      Id: <%= @mission.attributes['id'] %> <br />
      Type: <%= @mission.attributes['type'] %>
    </td>

  </tr>

</table>





