<div class="header">
<h3>
  Profile
</h3>
</div>
<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<div class="content">
Name: <%= @current_user.name %> <br />



</div>